@import url('https://fonts.googleapis.com/css?family=Raleway');
 * {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0;
}
 body {
     text-align: center;
     font-family: 'Raleway', sans-serif;
     background-color: #EFF3F4;
     margin: 0px !important;
}
 .icons, .table_container .settings #close, .table_container #refresh, .table_container #open {
     position: absolute;
     padding: 8px;
     cursor: pointer;
     color: #0e6fff;
}
 .icons:hover, .table_container .settings #close:hover, .table_container #refresh:hover, .table_container #open:hover {
     color: #888;
}
 .title {
     padding: 40px 120px;
     box-shadow: 0px 15px 42px -30px rgba(0, 0, 0, 0.44);
     background-color: #f6f6f6;
}
 h1 {
     font-size: 42px;
     font-weight: lighter;
     letter-spacing: 0.32em;
     margin: 0.2em;
}
 h2 {
     margin: 1em 0 0.25em;
     letter-spacing: 0.32em;
}
 h2:first-of-type {
     margin-top: 95px;
}
 table, tr, td {
     border: 1px solid #777;
}
 table {
     border-collapse: collapse;
     margin: 0 auto;
     background-color: white;
     cursor: pointer;
}
 tr{
     height: 20px;
}
 td {
     min-width: 20px;
     width: 20px;
     transition: background 0.15s;
}
 td:hover{
     background: rgba(40,40,40,0.3);
}
 input[type=number] {
     border-radius: 2px;
     border: none;
     width: 15em;
     padding: 5px;
     background: rgba(0,0,0,0.05);
}
 .open{
     top: 0 !important;
}
 .table_container{
     background-color: #f6f6f6;
     position: absolute;
     transform: translatex(-50%);
     left: 50%;
     padding: 85px;
     margin-top: 90px;
     width: auto;
     box-shadow: 0 1px 30px -4px rgba(0,0,0,0.1);
     overflow: hidden;
     border-radius: 5px;
     user-select: none;
     -o-user-select: none;
     -ms-user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
}
 .table_container .settings {
     position: absolute;
     background: #f6f6f6;
     width: 100%;
     height: 100%;
     top: 100%;
     left: 0;
     padding: 20px;
     -webkit-transition: top 0.5s;
     transition: top 0.5s;
}
 .table_container .settings #close {
     top: 20px;
     right: 225px;
}
 .table_container .settings h2 {
     padding-bottom: 30px;
}
 .table_container .settings .input_container {
     display: block;
     margin: 16px;
}
 .table_container .settings #submit {
     border: none;
     border-radius: 2px;
     background-color: #0e6fff;
    /* -webkit-box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
     */
    /* box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
     */
     padding: 14px;
     color: white;
     width: 30%;
     position: absolute;
     bottom: 60px;
     left: 0;
     right: 0;
     margin: auto;
}
 .table_container .settings #colorPicker {
     border: none;
     background: white;
     width: 170px;
}
 .table_container #refresh {
     bottom: 25px;
     left: 225px;
}
 .table_container #open {
     right: 225px;
     top: 20px;
}
 
